.categoryList {
  display: flex;
  justify-content: center;
}

.category-btn {
  background-color: #eacdd1;
  border: 0.5px solid;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.category-btn:hover {
  color: white;
}
