.categoryList {
    display: flex;
    justify-content: center;
    gap: 10px
  }
  
  .category-btn {
    background-color: #eacdd1;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    width: 80px; 
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .category-btn button {
    border: none; 
    background-color: transparent; 
    cursor: pointer; 
    width: 100%;
    height: 100%;
    border-radius: inherit; 
  }
  
  .category-btn:hover {
    color: white;
  }
  